body {
    background-color: #000000;
    color: rgb(106, 113, 126);

   font-family: "Georgia", serif;

   margin: 0px;
}

h1{
    font-size: 40px;
    margin-top: 0px;
}

p {
    font-size: 20px;
}

header {
    font-size: 60px;
    border-bottom: 5px inset  #000000;
    padding: 30px;
    color: rgb(106, 113, 126);
    text-align: center;
}

.chamada {
    background-color:rgb(255, 255, 255);
    padding-top: 80px;
    padding-bottom: 80px;

    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 10%;
}

img {
    width: 300px;
    height: 200px;
}

.outrasRecomendacoes {
    display: flex;
    overflow-x: auto;
    gap: 0.9%;
    padding-left: 0.9%;
    padding-right: 0.9%;
}

h2 {
    margin-left: 30px;
}